<nav class="demo-controls">
  <label>
    Item Size: <Input @type="range" @value={{mut rowHeight}} min="100" max="500" />
  </label>

  <label>
    Demo Resize: <Input @type="checkbox" @checked={{mut small}} {{on "change" (action "toggleSmall")}} />
  </label>
</nav>

{{!outlet}}

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<div class="containment {{if small "is-small" "expanded"}}">

  {{#ella-treadmill
    content=numbers
    row=(if rowHeight rowHeight 200)
    minColumnWidth=(if rowHeight rowHeight 200)
    moveTo=moveTo
    on-scroll-start=(action "handleScrollStart")
    on-scroll-end=(action "handleScrollEnd")
    on-resize-start=(action "handleResizeStart")
    on-resize=(action "handleResize")
    on-resize-end=(action "handleResizeEnd")
    as |item index|
  }}
    <div class="demo">
      [{{if index index "0"}}]: {{item.note}}
    </div>
  {{else}}
    <p>Nothing to see here.</p>
  {{/ella-treadmill}}
</div>
