<nav class="demo-controls">
  <div class="left-controls">
    <label>
      Item Size: <Input @type="range" @value={{mut this.rowHeight}} min="100" max="500" />
    </label>

    <label>
      Demo Resize: <Input @type="checkbox" @checked={{mut this.small}} {{on "change" this.toggleSmall}} />
    </label>
  </div>

  <div class="center-controls">&nbsp;</div>

  <div class="right-controls">
    Jump to:
    <a href="#0" {{on "click" (fn this.jumpTo 0)}}>TOP</a>
    &nbsp;|&nbsp;
    <a href="#100" {{on "click" (fn this.jumpTo 100)}}>100</a>
    &nbsp;|&nbsp;
    <a href="#250" {{on "click" (fn this.jumpTo 250)}}>250</a>
    &nbsp;|&nbsp;
    <a href="#500" {{on "click" (fn this.jumpTo 500)}}>500</a>
  </div>
</nav>

{{!outlet}}

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<div class="containment {{if this.small "is-small" "expanded"}}">
  <EllaTreadmill
    @content={{this.model}}
    @row={{if this.rowHeight this.rowHeight 200}}
    @minColumnWidth={{if this.rowHeight this.rowHeight 200}}
    @moveTo={{this.moveTo}}
    @on-scroll-start={{this.handleScrollStart}}
    @on-scroll-end={{this.handleScrollEnd}}
    @on-resize-start={{this.handleResizeStart}}
    @on-resize={{this.handleResize}}
    @on-resize-end={{this.handleResizeEnd}}
    as |item index|
  >
    <div class="demo">
      [{{if index index "0"}}]: {{item.note}}
    </div>
  </EllaTreadmill>
</div>
